{% extends 'layout.html' %}



{% block content %}
    <h1>Timetable</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        {% for time in times %}{% extends 'layout.html' %}

        {% block content %}
            <!-- Specific content for the index page goes here -->
            <h1>Welcome to My Website</h1>
            <p>Today is {{ day }} and the time is {{ time }}.</p>
            <!-- Add more content as needed -->
        {% endblock %}
        
            <tr>
                <td>{{ time }}</td>
                {% for day in days %}
                    <td>{{ day }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}